<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="main">
        <div v-for="(item, index) in list" :key="index">
            <div style="background: #000;color: #fff" :data-index="index" @click="handleClick">
                <span>姓名：{{item.name}}</span>
                <span>年龄：{{item.age}}</span>
            </div>
            <div>{{listNumber[0]}}</div>
            <div v-for="(item, index) in listNumber" :key = "index">
                {{item}}
            </div>
            <div>{{info.home.title}}</div>
            <children-a ></children-a>
            <div id="children_b"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        var Profile = Vue.extend({
                props: {
                    "boolean": {
                        type: Boolean
                    },
                    "title": {
                        type: String
                    }
                },
                template: '<p>{{firstName}} {{lastName}} aka {{alias}} {{boolean}} {{title}}</p>',
                data: function () {
                    return {
                        firstName: 'Walter',
                        lastName: 'White',
                        alias: 'Heisenberg'
                    }
                }
            })
        new Profile({
            propsData: {
                "boolean": "boolean",
                title: "a"
            }
        }).$mount("#children_b")
        var childrenA = Vue.component("ChildrenA", {
            props: {
                title: {
                    "type": Boolean
                }
            },
            template: '<div>{{title}}</div>',
            data: function(){
                return {
                    name: "ChildrenA"   
                }
            }
        })
        var vm = new Vue({
            el: "#main",
            data: {
                list: [1,2,3]
            },
            components: {
                "children-a": childrenA
            },
            methods: {
                handleClick: function(){
                    this.list = this.list.concat([2,3,54]);
            }
        })
    </script>
</body>
</html>